@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nabla&family=Outfit:wght@200&family=Source+Sans+Pro:wght@300&display=swap');

body {
    background: #e1d4ec;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 10vh;
    font-weight: 300;
    line-height: 1.5;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 112%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 30px 0;
    color: rgb(73, 16, 206);
  }

.tabs {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

.tabs label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    cursor: pointer;
    background: #fff;
    font-weight: bold;
    transition: background ease 0.25s;
    border-radius: 10px 10px 0 0;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    border-radius: 0 10px 10px 10px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: #a682fa;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}